:root {
    --background-color-headfoot: #449E85;
    --h2-color: #F1BC69; 
}

#title img {
    height: 50vh;
    margin-top: 1em;
    margin-bottom: 1em;
}

.grid {
    display: grid;
}

/* ------------------------------------
|               HEADER                 |
--------------------------------------- */

#title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-color-headfoot);
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: small;
    padding: 1em;
    position: relative;
}

#title p {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.navigation {
    background-color: #6CBCA6;
    padding: 1em;
    cursor: pointer;
    flex-basis: 100%;
}

.navigation nav {
    display: flex;
    justify-content: space-between;
    padding: 0em 1em 0em 1em;
    
}

.navigation a {
    display: inline;
    text-decoration: none;
    color: white;
    
}

/* ------------------------------------
|              FOOTER                  |
--------------------------------------- */

footer {
    margin-top: 1em;
    background-color: var(--background-color-headfoot);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    text-decoration: none;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

.social img {
    width: 2.5em;
    border-radius: 0.7em;
    margin-right: 1em;
}

.copyright {
    font-size: 0.7em;
    align-self: center;
    color: white;
    display: block;
    margin-bottom: 1em;
}

/* ------------------------------------
|              MAIN CONTENT            |
--------------------------------------- */

main {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

h1 {
    /* Display & box model */
    align-self: center;
    width: 50%;
    height: 100%;
    padding: 0.5em;
    margin: 1em 0 0 1em;
    border-radius: 1em;
    background-color: var(--background-color-headfoot);

    /* Text */
    font-size: 2em;
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: var(--h2-color);
}

h2 {
    /* Display & box model */
    width: 50%;
    padding: 0.5em;
    margin: 1em 0 0 1em;
    border-radius: 1em;
    background-color: var(--background-color-headfoot);
    
    /* Text */
    font-size: 1.2em;
    text-align: center;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: var(--h2-color);
}

h3 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 2px whitesmoke;
}

.card {
    /* Display & box model */
    background-color: #A2DBCB;
    margin: 1em 1em 0 1em;
    padding: 1em;
    border-color: gray;
    border-radius: 1em;
    box-shadow: 0 0 3px #6CBBA5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 2fr 1fr;
    grid-column-gap: 1em;
}

.card_image {
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
}

.card_image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1em 0 0 1em;
}

.card-text {
    max-width: 100%;
    line-height: 1.2em;
    text-shadow: whitesmoke 1px 1px 1px;
    padding-right: 1em;
    justify-self: stretch;
}

.card-text-mod {
    margin-top: 1em;
    font-weight: bold;
}

.card-text-em {
    font-style: italic;
    font-weight: lighter;
    font-size: .7em;
    align-self: center;
}

.card-title {
    /* Display & box model */
    align-self: center;
    justify-self: center;
    border-bottom: #D19940 1px solid;
    padding-bottom: .5em;

    /* Text */
    color: #D19940;    
    font-weight: bold;
}

.card-link {
    align-self: center;
    justify-self: center;
    background-color: var(--h2-color);
    color: var(--background-color-headfoot);
    padding: .5em .5em .5em 1em;
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 1em;
    text-decoration: none;
}

div.card-link {
    display: flex;
    flex-wrap: wrap;
}

div.card-link ul {
    line-height: 1.2em;
    margin-top: 0.5em;
}

.card-link i {
    margin-right: .5em;
}

.intro {
    /* Display and box model */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid var(--h2-color) 1px;
    padding: 1em;
    margin: 1em;

    /* Text */
    line-height: 1.2em;
}

.intro p {
    margin-bottom: 1em;
}

.intro-image {
    width: 100vw;
    height: 50vh;
    margin-bottom: 1em;
    background-image:url("../img/accueil.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 80px 60px white inset;
}

.sitename {
    color: var(--h2-color);
}

.mailcontact {
    /* Text */
    color: #D19940;
    text-decoration: none;
    text-shadow: 0px 0px 2px whitesmoke;
}

@media (min-width: 1200px) {

    .navigation nav {
        justify-content: space-around;
    }

    .intro p {
        margin: 0;
    }

    h2 {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }

    main {
        display: grid;
        grid-template-areas: 
            "intro intro intro intro"
            ". titleActivity titleActivity ."
            ". activityCard activityCard1 ."
            ". activityCard2 activityCard2 ."  
            ". titleLoisir titleLoisir ."
            ". loisirCard loisirCard ."
        ;
        grid-template-rows: 700px 100px 800px 800px 100px 1fr;
        grid-template-columns: 1fr 4fr 4fr 1fr;
        grid-column-gap: 100px;
        grid-row-gap: 50px;
        
    }

    .intro {
        grid-area: intro;
    }

    .cardActivity {
        grid-area: activityCard;        
    }

    .cardActivity1 {
        grid-area: activityCard1;
    }

    .cardActivity2 {
        grid-area: activityCard2;
    }

    .titleActivity {
        grid-area: titleActivity;
    }

    .cardLoisir {
        grid-area: loisirCard;
    }

    .titleLoisir {
        grid-area: titleLoisir;
    }
}