:root {
    --font-poppins: 'Poppins';
    --background-color-headfoot: #449E85; 
}

img {
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.grid {
    display: grid;
}

/* ------------------------------------
|               HEADER                 |
--------------------------------------- */

#title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-color-headfoot);
    color: white;
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: small;
    padding: 1em;
    position: relative;
}

.navigation {
    background-color: #6CBCA6;
    padding: 1em;
    cursor: pointer;
}

.navigation nav {
    display: flex;
    justify-content: space-between;
    
}

.navigation a {
    display: inline;
    text-decoration: none;
    color: white;
    
}

/* ------------------------------------
|              FOOTER                  |
--------------------------------------- */

footer {
    background-color: var(--background-color-headfoot);
    margin-top: 1em;
    display: flex;
}
