body {

    font-family: cooper-black-std, Verdana, Geneva, Tahoma, sans-serif;  
}

/*=====================
        Header Style
========================*/

header {
    

}

#collapseNav > ul > li {

}

#collapseNav > ul > li > a {

}

#headerbutton {

}

#headerbutton > i {

}




/* @media (min-width: 992px) {
    #headerbutton {
        display: none;
    }

    #collapseNav {
        display: flex;
    }
} */